body {
   font-family: "Atyp Display";
   background-color: #ffffff;
}
html {
   scroll-behavior: smooth;
}
.container {
   width: 90%;
   max-width: 1356px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 1rem;
   padding-right: 1rem;
   box-sizing: border-box;
}
#footer {
   margin-top: 100vh;
}
