body {
   font-family: "Atyp Display";
   background-color:#FFFFFF;
}
.container {
  width: 90%;
  max-width: 1356px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}
